@import "tailwindcss";

:root {
  --primary-text-color-dark: #000000;
  --secondary-text-color-dark: #333a3f;
  --primary-text-color-light: #ffffff;
  --secondary-text-color-light: #faf9f6;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f0f0f0;
  --primary-border-color: #cccccc;
  --secondary-border-color: #dddddd;

  --collapse-btn-color: #dda833;
  --collapse-btn-color-hover: #d5a94b;
  --refresh-btn-color: #dda833;
  --refresh-btn-color-hover: #d5a94b;
  --description-btn-color: #dda833;
  --description-btn-color-hover: #d5a94b;

  --primary-container-color: #dbdce1;
  --secondary-container-color: #b2b2b2;

  --tech-card-researched-color: #7393b3;
  --tech-card-boosted-cannot-research-color: #00ffff;
  --tech-card-boosted-can-research-color: #191970;
  --tech-card-no-boost-cannot-research-color: #7393b3;
  --tech-card-no-boost-can-research-color: #1434a4;
  --tech-card-hovered-color: #f0ffff;
  --tech-card-boosts-hovered-color: #42c501;
  --tech-card-boosted-by-hovered-color: #00a36c;

  --civic-card-researched-color: #301934;
  --civic-card-boosted-cannot-research-color: #630330;
  --civic-card-boosted-can-research-color: #7f00ff;
  --civic-card-no-boost-cannot-research-color: #bdb5d5;
  --civic-card-no-boost-can-research-color: #7f00ff;
  --civic-card-hovered-color: #e6e6fa;
  --civic-card-boosts-hovered-color: #770737;
  --civic-card-boosted-by-hovered-color: #953553;

  --wonder-card-available-color: #dda833;
  --wonder-card-available-color-hover: #d5a94b;

  --primary-font: sans-serif;
  --secondary-font: Helvetica;
}

/* TechCard hover highlight styles (override all other styles) */
.tech-card.tech-card-hovered {
  box-shadow: 0 0 0 4px var(--tech-card-hovered-color) !important;
  z-index: 2;
}
.tech-card.tech-card-boosts-hovered {
  box-shadow: 0 0 0 4px var(--tech-card-boosts-hovered-color) !important;
  z-index: 2;
}
.tech-card.tech-card-boosted-by-hovered {
  box-shadow: 0 0 0 4px var(--tech-card-boosted-by-hovered-color) !important;
  z-index: 2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, var(--primary-font),
    var(--secondary-font), sans-serif;
  background: var(--primary-bg-color);
  color: var(--primary-text-color-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: var(--primary-text-color-dark);
}
