:root {
  --primary-text-color-dark: #000000;
  --secondary-text-color-dark: #333a3f;
  --primary-text-color-light: #ffffff;
  --secondary-text-color-light: #faf9f6;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f0f0f0;
  --primary-border-color: #cccccc;
  --secondary-border-color: #dddddd;

  --collapse-btn-color: #dda833;
  --collapse-btn-color-hover: #d5a94b;
  --refresh-btn-color: #dda833;
  --refresh-btn-color-hover: #d5a94b;

  --primary-container-color: #dbdce1;
  --secondary-container-color: #b2b2b2;

  --tech-card-researched-color: #7393b3;
  --tech-card-boosted-cannot-research-color: #0047ab;
  --tech-card-boosted-can-research-color: #00ffff;
  --tech-card-no-boost-cannot-research-color: #7393b3;
  --tech-card-no-boost-can-research-color: #1434a4;
  --tech-card-selected-color: #f0ffff;
  --tech-card-boosts-selected-color: #00a36c;
  --tech-card-boosted-by-selected-color: #96ded1;

  --civic-card-researched-color: #301934;
  --civic-card-boosted-cannot-research-color: #630330;
  --civic-card-boosted-can-research-color: #7f00ff;
  --civic-card-no-boost-cannot-research-color: #bdb5d5;
  --civic-card-no-boost-can-research-color: #7f00ff;
  --civic-card-selected-color: #e6e6fa;
  --civic-card-boosts-selected-color: #770737;
  --civic-card-boosted-by-selected-color: #953553;

  --primary-font: sans-serif;
  --secondary-font: Helvetica;
}
